In [63]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

#pesquisar cotação do dólar:
navegador = webdriver.Chrome()
navegador.get('https://www.google.com.br/')
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação do dólar')
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element_by_xpath(
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

#pesquisar cotação do euro:
navegador.get('https://www.google.com.br/')
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação do euro')
navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element_by_xpath(
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

#pesquisar cotação do ouro:
navegador.get('https://www.melhorcambio.com/ouro-hoje')
cotacao_ouro = navegador.find_element_by_id('comercial').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

navegador.quit()

5.254099999999999
6.1636897920000004
296.30

In [64]:

import pandas as pd

# importar planilha
tabela_produtos = pd.read_excel('produtos.xlsx')
display(tabela_produtos)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.48,5479.9452,1.40,7671.92328
1,Carro Renault,4500.00,Euro,6.00,27000.0000,2.00,54000.00000
2,Notebook Dell,899.99,Dólar,5.48,4931.9452,1.70,8384.30684
3,IPhone,799.00,Dólar,5.48,4378.5200,1.70,7443.48400
4,Carro Fiat,3000.00,Euro,6.00,18000.0000,1.90,34200.00000
5,Celular Xiaomi,480.48,Dólar,5.48,2633.0304,2.00,5266.06080
6,Joia 20g,20.00,Ouro,350.00,7000.0000,1.15,8050.00000

In [65]:

# atualizar planilha
tabela_produtos.loc[tabela_produtos['Moeda']=="Dólar", "Cotação"] = float(cotacao_dolar)
tabela_produtos.loc[tabela_produtos['Moeda']=="Euro", "Cotação"] = float(cotacao_euro)
tabela_produtos.loc[tabela_produtos['Moeda']=="Ouro", "Cotação"] = float(cotacao_ouro)

tabela_produtos['Preço Base Reais'] = tabela_produtos["Preço Base Original"] * tabela_produtos["Cotação"]
tabela_produtos['Preço Final'] = tabela_produtos["Preço Base Reais"] * tabela_produtos["Margem"]
display(tabela_produtos)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.25410,5254.047459,1.40,7355.666443
1,Carro Renault,4500.00,Euro,6.16369,27736.604064,2.00,55473.208128
2,Notebook Dell,899.99,Dólar,5.25410,4728.637459,1.70,8038.683680
3,IPhone,799.00,Dólar,5.25410,4198.025900,1.70,7136.644030
4,Carro Fiat,3000.00,Euro,6.16369,18491.069376,1.90,35133.031814
5,Celular Xiaomi,480.48,Dólar,5.25410,2524.489968,2.00,5048.979936
6,Joia 20g,20.00,Ouro,296.30000,5926.000000,1.15,6814.900000

In [66]:
# exportar planilha para um arquivo excel
tabela_produtos.to_excel("Produtos Atualizado.xlsx", index=False)